* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #1B1B1B;
}

.container{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ciao {
  margin-right: 15px;
  color: #737373;
}

.list:hover .ciao{
  color: #fff;
}

.logo {
 width: 100px;
 height: auto;
}

.header-right{
  padding-left: 390px;
}

main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.film-container{
  position: relative;
  display: inline-block;
  width: 33.3%;
  height: 600px;
}

.film-img{
  width: 100%;
  height: auto;
  display: block;
}

.flag {
  width: 64px;
  height: auto;
  display: block;
}

.spec-container{
 position: absolute;
 transition: all .3s ease;
 opacity: 0;
 background-color: #eee;
 padding-left: 15px;
 padding-top: 15px;
}

.film-container:hover .spec-container{
  opacity: 1;
}

.overlay-left{
 height: 100%;
 width:0;
 top:0;
 left:0;
}

.film-container:hover .overlay-left{
  width: 100%;
}
