<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>



    <div id="app">
      <div class="container">
        <header>
          <img class="logo" src="images/logo-netflix.png" alt="">
          <ul class="list">
            <li class="ciao">Home</li>
            <li class="ciao">Serie tv</li>
            <li class="ciao">Film</li>
            <li class="ciao">Original</li>
            <li class="ciao">Aggiunti di recente</li>
            <li class="ciao">La mia lista</li>
          </ul>
          <div class="header-right">
            <input type="text" v-model='userSearch'@keyup.enter="search()" >
            <i class="fas fa-search magni" v-on:click="search()"></i>
          </div>

        </header>
        <main>
          <div class="film-container" v-for="film in results" v-if="results.length > 0" >

            <img class="film-img" v-if="film.poster_path" :src=" 'https://image.tmdb.org/t/p/w342' + film.poster_path ">
            <img class="film-img" v-else src="https://www.altavod.com/assets/images/poster-placeholder.png">

            <div class="spec-container overlay-left">

              <div class="padding-bottom">
                <span class="card-title">Titolo:</span>
                 <span class="card-text">{{film.title}}</span>
              </div>
              <div class="padding-bottom">
                <span class="card-title">Titolo originale:</span>
                <span class="card-text">{{film.original_title}}</span>
              </div>
              <img class="flag padding-bottom" v-if="availableFlags.includes(film.original_language)"
              :src="'images/flags/' + film.original_language + '.png'">
              <img class="flag" v-else src="images/flags/EF_flag.png" >
              <!-- <div>{{film.original_language}}</div>
              <div>{{getVote(film.vote_average)}}</div> -->
              <span class="card-title">Voto:</span>
              <i class="fas fa-star stars" v-for="index in getVote(film.vote_average)"></i>
              <i class="far fa-star stars" v-for="index in (5 - getVote(film.vote_average)) "></i>
              <div class="padding-top">
                <span class="card-title">Overview:</span>
                <span class="card-text">{{film.overview}}</span>
              </div>
            </div>

          </div>
        </main>
      </div>
    </div>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
